.App {
  text-align: center;
  height: 100vh;
  overflow-y: auto;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: white;
  width: 100%;
}

.appTitle {
  font-family: "Honk", sans-serif;
  font-variation-settings: "MORF" 15, "SHLN" 26;
  font-size: 5em;
  margin: 10px;
}

/* .gameContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 80vh;
  margin: 10vh;
  justify-content: space-between;
} */
