.Title {
  padding: 20px;
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 3em;
}

.gameForm {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.formDiv {
  padding: 15px;
  display: flex;
  width: 500px;
}

.submitButton {
  margin-top: 30px;
  padding: 10px;
  justify-content: center;
  background-color: rgb(224, 121, 53);
  font-family: "Orbitron", sans-serif;
  color: white;
  font-size: 1.5em;
  border-radius: 10px;
}
.submitButton:hover {
  cursor: pointer;
}

.fileUpload {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
.fileLabel {
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  width: 250px;
  border-color: black;
  border-width: 4px;
  border-style: inset;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
  cursor: pointer;
  padding: 5px;
  margin-left: auto;
  text-align: center;
}
