.Game {
  align-items: center;
  background-color: rgb(27, 20, 90);
  color: white;
  opacity: 0.8;
  margin-top: 10px;
  margin-left: 10px;
  height: 40vh;
  width: 30vh;
  transition: opacity 0.4s ease;
}

.Game:hover {
  opacity: 1;
}
