.Leaderboard {
  font-family: "Orbitron", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  color: white;
}

.gameTitle {
  padding: 20px;
  font-size: 2.5em;
}

table {
  text-align: left;
  border-collapse: collapse;
  width: 50%;
}

th,
td {
  padding: 10px;
}

.tableHead {
  font-size: 1.6em;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(212, 132, 10);
}
